.snapwidget {
    --max-width: 1200px;
    position: relative;
    max-width: var(--max-width);
    margin-inline: auto;
    padding-top: calc(min(var(--max-width), 100%) + (3 * 135px));

    iframe {
        box-sizing: content-box;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        border: none;
        overflow: hidden;
    }
}
