---
import style from "./SnapWidget.module.scss"
---
<div class={style.snapwidget}>
    <iframe class={style.snapwidget} allowtransparency frameborder="0" scrolling="no" src="https://snapwidget.com/embed/787765"></iframe>
</div>

