.title {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}

.icon_field {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.contact_card {
  a {
    color: $natural-black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  text-align: center;
}
