.event_list {
  list-style: none;
  padding: 0;
  margin: 0;

  .eventListItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }

  p {
    margin: 0;
    line-height: 1.4;
  }

  .summary {
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 0.2em;
  }

  .date {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    background-color: $arduino-blue;
    color: white;
    
    font-size: 1.5rem;
    aspect-ratio: 1;
    flex-shrink: 0;
    width: 3.5em;
    padding: 1em;
    
  
    @media (max-width: $breakpoint-mobile) {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}
