---
import BaseLayout from '@layouts/BaseLayout.astro';

const description = 'This guide contains everything you need to know about the university, studying and student life';
const lead = 'This guide contains everything you need to know about the university, studying and student life';
---

<BaseLayout title="DSD Fuksiguide 2025" lead={lead} description={description} lang="en" slug="fuksis/fuksiguide">
  <div style={{ width: '100%' }}>
    <a
      style={{ marginBlock: '1rem' }}
      class="rounded-button"
      target="_blank"
      href="https://drive.google.com/file/d/1KOcu4Ukb91OD2CLazVgr4g5Np5Nby_WW"
      rel="noreferrer"
    >
      Download PDF
    </a>
    <iframe
      src="https://drive.google.com/file/d/1KOcu4Ukb91OD2CLazVgr4g5Np5Nby_WW/preview"
      width="100%"
      height="800"
      allow="autoplay"
    ></iframe>
  </div>
</BaseLayout>
