---
import BaseLayout from '@layouts/BaseLayout.astro';
//import { Image } from 'astro:assets';
//import masters_timetable from '@src/assets/images/orientaatioviikon-aikataulu-MINT-masters.png';
//import exchange_timetable from '@src/assets/images/orientaatioviikon-aikataulu-MINT-exchange.png';

const description = 'The orientation week schedule for MINT fuksis';
---

<BaseLayout
  title="MINT Orientation week"
  heroHeight="short"
  description={description}
  lang="en"
  slug="/en/fuksis/orientationweek-mint"
>
  <h2 id="orientaatioviikon-aikataulu"></h2>
  <!-- Uncomment and use these images when the schedule is updated -->
  <!--
      /*
    <h3 id="maisterien-orientaatioviikon-aikataulu">Master's orientation week</h3>
    <Image
      class="centered-image"
      src={masters_timetable}
      alt="Orientation week schedule for master's students."
    />
    <h3 id="vaihtareiden-orientaatioviikon-aikataulu">Exchange students' orientation week</h3>
    <Image
      class="centered-image"
      src={exchange_timetable}
      alt="Orientation week schedule for exchange students."
    />
    -->
  <p>
    OHO, you are very eager!!! The MISCs recommend you rest for the summer, and check back later if the orientation week
    schedule has dropped here:)
  </p>
</BaseLayout>
