.cardlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2.5em;
}

.table {
  max-width: 1800px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
}

.list__title {
  background-color: $as-violet-2;
  padding-block: 1.3em;
  text-align: center;

  font-size: 1.4rem !important;
  font-weight: bold !important;
  color: $natural-black !important;
}

.list {
  line-height: 0.1rem;
  font-size: 1.2rem;
}
