// Export Sass variables to use them in JSX

:export {
  asViolet1: $as-violet-1;
  asViolet2: $as-violet-2;

  naturalWhite: $natural-white;
  naturalBlack: $natural-black;

  accentViolet1: $accent-violet-1;

  backgroundViolet: $background-violet;

  fontHeading: $font-heading;
  fontBody: $font-body;

  breakpointMobile: $breakpoint-mobile;
  breakpointTablet: $breakpoint-tablet;
}
