// Global Sass variables

// THEME COLORS
//

$as-violet-1: #610396; // Official AS violet
$as-violet-2: #bf99d6; // Official AS accent violet

$natural-white: #f9faf3;
$natural-black: #1b1b1b;

$accent-violet-1: #721ea2; // a bit off as-violet-1

$background-violet: #661a76; // Hero filter color

$arduino-blue: #008184;

// FONTS
//

$font-heading: "Montserrat Variable", "Open Sans Variable", "Open Sans", system-ui, sans-serif;
$font-body: "Open Sans Variable", "Open Sans", system-ui, sans-serif;


// BREAKPOINTS
//

$breakpoint-mobile: 991px;
$breakpoint-tablet: 1200px;
