// Global Sass variables

// THEME COLORS
//

$as-violet-1: #6e4077;
$as-violet-2: #ab88bf;
$as-violet-3: #c3afdc;

$natural-white: #f9faf3;
$natural-black: #1b1b1b;

// FONTS
//

$font-heading: "Montserrat";
$font-body: "Open Sans";


// BREAKPOINTS
//

$breakpoint-mobile: 991px;
$breakpoint-tablet: 1200px;
