// Global Sass variables.

// THEME COLORS
//

$main-accent-color: #4f3c7e;
$secondary-accent-color: rgb(48, 48, 48);

// FONTS
//

$font-heading: "Montserrat";
$font-body: "Open Sans";


// BREAKPOINTS
//

$breakpoint-mobile: 991px;
$breakpoint-tablet: 1200px;
