@use 'reset';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

*,
*::after,
*::before {
    box-sizing: border-box;
  }

body {
    background: $natural-white;
    font-family: $font-body;
    font-size: 18px;
}

h1, h2, h3, h4, h5 {
    font-family: $font-heading;
}

.pageHeading1, .pageHeading2, .pageHeading3, .pageHeading4 {
    text-align: center;
}

.pageHeading1 {
    font-size: 35px;
    font-weight: 500;
}

.pageHeading2 {
    font-size: 25px;
    font-weight: 400;
}

.pageHeading3 {
    font-size: 20px;
    font-weight: 400;
}

.pageHeading4 {
    font-size: 20px;
    font-weight: 400;
}

ul, ol, dl {
    line-height: 1.5;

    li:not(:last-child) {
        margin-bottom: 1em;
    }
}

p {
    line-height: 1.6;
}

.rounded-button {
    display: block;
    width: fit-content;
    padding: 1em 1.5em;
    border-radius: 9999px;
    color: white;
    background-color: $as-violet-1;
    font-weight: 700;
    text-decoration: none;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

.full-width-bg {
    box-sizing: border-box;
    width: 100vw;
    padding-inline: calc((100vw - 100%) / 2);
    margin-inline: calc((100vw - 100%) / -2);
}

.hideoverflow {
    overflow: hidden;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}
