@use 'reset';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

*,
*::after,
*::before {
    box-sizing: border-box;
  }

body {
    background: $natural-white;
    font-family: $font-body;
    font-size: 18px;
}

h1, h2, h3, h4, h5 {
    font-family: $font-heading;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
}

h2 {
    font-size: 3rem;
    font-weight: 400;
}

h3 {
    font-size: 2.5rem;
    font-weight: 300;
}

h4 {
    font-size: 2rem;
    font-weight: 300;
}

.underline-decorator {
    width: fit-content;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        background: purple;
        height: 0.08em;
        width: 100%;
        inset-inline: 0;
        bottom: -0.3em;
        max-width: 7rem;
        margin-inline: auto;
    }
}

.underline {
    margin: 1.2em 0 0.5em;
    border-bottom: 3px solid;
    padding-bottom: 0.2em;
  }

ul, ol, dl {
    line-height: 1.5;

    li:not(:last-child) {
        margin-bottom: 1em;
    }
}

p {
    line-height: 1.6;
}

main a {
    font-weight: bold;
    color: inherit;
  }

.rounded-button {
    display: block;
    width: fit-content;
    padding: 1em 1.5em;
    border-radius: 9999px;
    color: white;
    background-color: $as-violet-1;
    font-weight: 700;
    text-decoration: none;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

.full-width-bg {
    box-sizing: border-box;
    width: 100vw;
    padding-inline: calc((100vw - 100%) / 2);
    margin-inline: calc((100vw - 100%) / -2);
}

.hideoverflow {
    overflow: hidden;
}

.center-block {
    margin-inline: auto;
}

.center-text {
    text-align: center;
}

.even-columns {
    display: grid;

    @media (min-width: $breakpoint-mobile) {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

.no-mobile {
    @media (max-width: $breakpoint-mobile) {
        display: none;
    }
}
