#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    & > * {
        width: 100%;
    }
}

#content {
    flex-grow: 1;
    background: $natural-white;
    
    margin-bottom: 5rem;

    width: calc(100% - 4rem);

    h1, h2, h3, h4{
        color: $as-violet-1;
    }

    h1 {
        //long main title
        font-size: 1.8rem;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        //chapter
        font-size: 1.4rem;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 3px solid;
        padding-bottom: 0.1em;
    }

    h3 {
        // article/pykälä
        font-size: 1.1rem;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;
    }

    h4 {
        // subsection/clause
        font-size: 1.1rem;
        font-weight: 500;
        margin-left: auto;
        margin-right: auto;
        font-style: italic;
    }

    ul li::marker, ol li::marker{
        color: $as-violet-1;
    }

    ul, ol{
        padding-left: 5rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    
    ul ul,
    ul ol,
    ol ul,
    ol ol{
        padding-left: 3rem;
    }

    p {
        padding-left: 2rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    :where(& > *) {
        max-width: 900px;
        margin-inline: auto;
    }
}