body {
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#navbar-top, #footer {
    flex-shrink: 0;
}

#content {
    flex-grow: 1;
}

#content {
    background: #fff;
}

@media all and (min-width: 992px) {

    #content {
        margin: 0 15%;
        padding: 20px;
    }

    #jumbotron {
        padding: 20px 15%;
        text-align: center;
    }

}

@media all and (max-width: 991px) {

    #content {
        margin: 0;
        padding: 10px;
    }

    #jumbotron {
        padding: 20px;
        text-align: center;
    }

}
