body {
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#navbar-top, #footer {
    flex-shrink: 0;
}

#content {
    flex-grow: 1;
    background: #fff;
}

#jumbotron {

    .separator {
        width: 3em;
        border-top: 3px solid $main-accent-color;
        margin: 2em auto;
    }

    .lead {
        font-size: 15px;
        font-style: italic;
        margin: 0 10%;
    }

}

@media all and (min-width: $breakpoint-mobile + 1) {

    #content {
        margin: 0 15%;
        padding: 20px;
    }

    #jumbotron {
        padding: 20px 15%;
        text-align: center;
    }

}

@media all and (max-width: $breakpoint-mobile) {

    #content {
        margin: 0;
        padding: 10px;
    }

    #jumbotron {
        padding: 20px;
        text-align: center;
    }

}
