#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    & > * {
        width: 100%;
    }
}

#content {
    flex-grow: 1;
    background: $natural-white;
    
    width: calc(100% - 4rem);

    :where(& > *) {
        max-width: 900px;
        margin-inline: auto;
    }
}