.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.intro_quote {
  line-height: 25px;
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
}

.table {
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
