.eventsContainer {
    width: 100%;
}

.frontpagebox {
    max-width: 1600px;

    & > :not(img) {
        padding: 3rem;
        margin-inline: auto;
    }

    p {
        font-size: clamp(1.2rem, 2vw, 1.4rem);
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

@media all and (max-width: $breakpoint-mobile) {

    .frontpagebox {
        & > :not(img) {
            padding: 3rem 0;
        }
    }
    
}