.naviItem a, .subnaviItem a {
    font-size: 16px;
    font-family: $font-heading;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255,255,255,.75);
}

.naviItem a, .subnaviItem a, .navbarLogo a {
    display: inline-block;
}

.naviItem a:hover, .subnaviItem a:hover,
.naviItem.active > a, .subnaviItem.active a,
.dropdown:hover a.dropdownLink, .menuToggle {
    color: rgba(255,255,255,1);
}

.navi {
    display: flex;
}

.subnavi {
    div a {
        font-weight: 400;
        text-transform: none;
    }
}

#navbarTop {
    background: $as-violet-1;
    position: sticky;
    top: 0;
    width: 100%;
}

#navbarCollapse {
    display: flex;
}

.dropdownLink svg {
    vertical-align: text-top;
}

@media all and (min-width: $breakpoint-mobile) {

    .navi {
        flex-wrap: nowrap;
        justify-content: center;
    }

    #navbarCollapse {
        flex-direction: row;
    }

    .naviItem a {
        padding: 15px;
    }

    .subnaviItem a {
        padding: 10px;
    }

    .navbarLogo a {
        margin: 10px 20px;
    }

    .dropdown {
        float: left;
        position: relative;
        margin: 0;
    }

    .dropdown:hover .subnavi {
        display: block;
    }

    .subnavi {
        display: none;
        position: absolute;
        left: 15px;
        background-color: $as-violet-1;

        div a {
            font-size: 15px;
            text-align: left;
        }

    }

    .menuToggle {
        display: none;
    }
    
}

@media all and (max-width: $breakpoint-mobile) {

    .navi {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        div a {
            display: block;
            padding: 15px 5px;
            font-size: 18px;
        }
    }

    .naviItem a:hover, .subnaviItem a:hover,
    .naviItem.active > a, .subnaviItem.active a {
        background: $accent-violet-1;
    }

    .subnavi {

        div a {
            font-size: 15px;
        }

    }

    .navbarLogo, .menuToggle {
        margin: 3px;
        display: flex;
        align-items: center;
    }

    #navbarCollapse {
        display: none;
        width: 100%;
        height: 100%;
        flex-direction: column;
        order: 2;
    }

    #navbarCollapse.show {
        display: block;
    }

    #navbarTop.expanded {
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #navbarTop.expanded::-webkit-scrollbar {
        display: none;
    }

    .menuToggle {
        order: 1;
        font-size: 45px;
    }

    .naviItem {
        width: 100%;
        text-align: center;
        display: block;
    }

    .active .naviItem {
        display: block;
    }

    .hideoverflow {
        overflow: hidden;
    }

}