.badge {
  height: 200px;
  width: 200px;
  padding-inline: 0.5rem;
  border-radius: 50%;

  color: $as-violet-1;
  background-color: $as-violet-2;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  line-height: 2rem;
  font-size: 1.2rem;
  text-align: center;
}