#footer {
    background: var(--natural-black);
    color: var(--natural-white);
    font-family: var(--font-heading);
    font-size: 16px;

    a {
        color: #fff;
    }
}

#content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px 0;
}

.title {
    text-transform: uppercase;
    font-weight: 700;
}

#contact, #partners, #links {
    flex-shrink: 0;
}

#some {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: flex-start;

    a {
        display: inline-block;
        font-size: 25px;
        color: var(--natural-white);
    }
}

#links {
    div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

#sponsors {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.sponsor {
    display: block;
}

@media all and (min-width: $breakpoint-mobile) {

    #content {
        margin: 0 auto;
        width: 80%;
        max-width: 1400px;
    }

    .title {
        font-size: 22px;
    }

    #contact {
        max-width: 20%;
    }

    #links {
        max-width: 20%;
    }
    
    #partners {
        max-width: 60%;
    }

}

@media all and (max-width: $breakpoint-mobile) {

    #footer {
        text-align: center;
    }

    #content {
        margin: 0 auto;
        flex-direction: column;
        max-width: 90%;
    }

    #contact {
        order: 2;
    }

    #partners {
        order: 1;
    }

    #links {
        order: 3;
    }

    #some {
        justify-content: center;
    }

}