#navbar-top {
    background: #620062;
}

@media all and (min-width: 992px) {
    
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown:hover .dropdown-toggle {
        color: rgba(255,255,255,.75);
    }

    .dropdown-menu {
        margin-top: 0;
    }
    
}

@media all and (max-width: 991px) {
    
    .dropdown-menu {
        display: block;
    }
    
}
