#hero {

    background: var(--as-violet-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .mainTitle {
        margin: 0 10%;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--natural-white);
    }

    .lead {
        font-family: var(--font-heading);
        font-size: 15px;
        margin: 2% 20%;
        color: var(--natural-white);
    }

}

@media all and (min-width: $breakpoint-mobile) {

    #hero {
        padding: 20px 15%;
        min-height: 15vh;
        text-align: center;
    }

}

@media all and (max-width: $breakpoint-mobile) {

    #hero {
        padding: 20px;
        min-height: 20vh;
        text-align: center;
    }

}
