#hero {
    background: $as-violet-1;
    color: $natural-white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    padding: 2rem;

    .mainTitle {
        margin: 0 8%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: max(4vw, 2rem);
    }

    .lead {
        font-family: $font-heading;
        max-width: 50ch;
        margin: 2rem 2rem 0;
    }

}
