$not-focused: transparentize($color: $natural-white, $amount: 0.25);

.naviItem a, .subnaviItem a {
    font-size: 16px;
    font-family: $font-heading;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: $not-focused;
}

.naviItem {
    display: flex;
    flex-direction: row;
}

.naviItem a, .subnaviItem a, .navbarLogo a {
    display: inline-block;
}

.dropdownToggle {
    padding: 0 !important;
    align-items: center;
    color: $not-focused;

    svg {
        width: 100%;
        height: 100%;
        margin: auto;
    }
}

.naviItem:hover > a, .subnaviItem:hover > a,
.naviItem.active > a, .subnaviItem.active a,
.dropdown:hover > .dropdownToggle, .menuToggle {
    color: $natural-white;
}

.navi {
    display: flex;

    div a {
        display: block;
    }
}

.subnavi {
    display: none;
}

.subnavi.showDropdown {
    display: block;
}

#navbarTop {
    background: $as-violet-1;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

#navbarCollapse {
    display: flex;
}

@keyframes simpleYScale {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@media all and (min-width: $breakpoint-mobile) {

    .navi {
        flex-wrap: nowrap;
        justify-content: center;
    }

    #navbarCollapse {
        flex-direction: row;
    }

    .subnaviItem {
        min-width: 125px;
    }

    .naviItem a {
        padding: 15px;
    }

    .subnaviItem a {
        padding: 10px;
    }

    .navbarLogo a {
        margin: 10px 20px;
    }

    .dropdown {
        float: left;
        position: relative;
        margin: 0;
    }

    .dropdownToggle {
        padding: 10px 5px;
        font-size: 20px;
        min-height: 100%;

        svg {
            font-size: 30px;
        }
    }

    .subnavi {
        position: absolute;
        left: -15px;
        top: 48px;
        background-color: $accent-violet-1;
        box-shadow: 1px 1px 10px -5px $natural-black;
        animation: simpleYScale 100ms ease-in-out forwards;
        transform-origin: top center;

        div a {
            font-size: 15px;
            text-align: left;
            text-transform: uppercase;
            font-weight: 700;
        }

    }

    .menuToggle {
        display: none;
    }
    
}

@media all and (max-width: $breakpoint-mobile) {

    #navbarLogo, .menuToggle {
        padding: 5px;
    }

    .navi {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .dropdownToggle {
        order: 1;
        flex-grow: 0 !important;
        padding: 0 !important;
        flex-basis: 70px;
        border-left: solid 1px transparentize($color: $natural-white, $amount: 0.5);
    }

    .naviItem a, .subnaviItem a {
        font-size: 18px;
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
    }

    .naviItem a:hover, .subnaviItem a:hover,
    .naviItem.active > a, .subnaviItem.active a {
        background: $accent-violet-2;
    }

    .naviItem.active > .subnavi {
        background: $accent-violet-1;
    }

    .subnavi {
        div a {
            font-size: 15px;
            font-weight: 400;
            text-transform: none;
        }

        width: 100%;
        flex-direction: column;
        order: 2;
    }

    .navbarLogo, .menuToggle {
        margin: 3px;
        display: flex;
        align-items: center;
    }

    #navbarCollapse {
        display: none;
        width: 100%;
        height: 100%;
        flex-direction: column;
        order: 2;
    }

    #navbarCollapse.show {
        display: block;
        animation: simpleYScale 200ms ease-in-out forwards;
        transform-origin: top center;
    }

    #navbarTop.expanded {
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #navbarTop.expanded::-webkit-scrollbar {
        display: none;
    }

    .menuToggle {
        order: 1;
        font-size: 45px;
    }

    .naviItem {
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        a {
            flex-grow: 1;
        }
    }

    .hideoverflow {
        overflow: hidden;
    }

}