.container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

.toggleButton {
  color: $as-violet-1;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}