#footer {
    background: $secondary-accent-color;
    text-align: center;
}

#partnersTitle {
    color: #fff;
    font-variant: small-caps;
}

@media all and (min-width: $breakpoint-mobile + 1) {

    #footer {
        padding: 20px 15%;
    }

}

@media all and (max-width: $breakpoint-mobile) {

    #footer {
        padding: 20px;
    }

}