#footer {
    background: $natural-black;
    text-align: center;
}

#partnersTitle {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

@media all and (min-width: $breakpoint-mobile) {

    #footer {
        padding: 20px 15%;
    }

}

@media all and (max-width: $breakpoint-mobile) {

    #footer {
        padding: 20px;
    }

}